.profile-card-container {
  width: 220px;
  height: 196px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-size: cover;
}

.profile-card-success-view {
  height: 216px;
  padding: 25px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
}
@media screen and (max-width: 577px) {
  .profile-card-success-view {
    height: 216px;
    padding: 25px;
    background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
    background-size: cover;
    width: 100%;
    margin: auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .profile-card-container {
    width: 100%;
    margin: 10px;
  }
}
.profile-image {
  height: 45px;
  width: 45px;
}

.profile-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  color: #6366f1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-description {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: #2c364c;
  margin-top: 0;
}
